.service-detail-breadcrumb {
  background-image: url("../../assets/images/services-breadcrumb.jpg");
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.service-detail-breadcrumb::before {
  content: "";
  position: absolute;
  /* top: 0;
      left: 0; */
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.service-details-container h1,
.service-details-container p {
  text-align: left;
}
.service-details-container p {
  font-size: 20px;
  line-height: 35px;
  opacity: 70%;
  margin-bottom: 3rem;
}
.service-details-container li {
  font-size: 20px;
  opacity: 70%;
}
.why-is-it-best ::marker {
  color: red;
  font-size: 40px;
}
.thumbs-wrapper {
  display: none !important;
}
.fitness-training ::marker {
  color: red;
  font-size: 40px;
}
.fitness-training p {
  opacity: 100%;
}
.diet-maintanance {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
