.image-container {
  width: 100px;
  height: 100px;
  /* border: 2px solid #170f58; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  transition: 0.3sec ease-in-out;
}

.image-inside {
  width: 70%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.image-container :hover {
  transform: scale(1.2);
}
