.Form-section h1,
.Form-section h5 {
  color: #170f58;
}
.form-label {
  display: flex;
  justify-content: center;
}
#exampleFormControlTextarea1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}
.Form-section .btn-primary {
  padding: 1rem 2rem 1rem 2rem;
  font-size: 20px;
}
body h1,
body h5 {
  text-align: center;
}
.contact-breadcrumb {
  background-image: url("../../assets/images/services-breadcrumb.jpg");
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.contact-breadcrumb::before {
  content: "";
  position: absolute;
  /* top: 0;
      left: 0; */
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
