.download-button {
  display: flex;
  gap: 1rem;
  background-color: white;
  margin-top: 1rem;
  padding: 7px 37px 3px 23px;
  border-radius: 3rem;
  align-items: center;
}
.carousel img {
  width: auto !important;
}
