.section1 {
  background-color: #170f58;
}

.carousel-control-prev {
  /* position: relative; */
  top: 19rem;
  height: 10%;
}
.carousel-control-next {
  /* position: relative; */
  top: 19rem;
  height: 10%;
}

.mobile-Logo {
  margin-left: 3rem;
}
.section2 {
  margin-top: 1rem;
  padding-bottom: 5rem;
}
.section3 {
  background-color: #f5f5f5;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.selection {
  list-style-type: none;
  margin-bottom: 1rem;
  margin-left: -2rem;
}
.selection::before {
  content: url("../../../assets/images/check.svg");
  margin-right: 0.5rem;
}
.background-img {
  background-image: url("../../../assets//images/students.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
  height: 86%;
  text-align: center;
  /* padding: 1rem 1rem 1rem 1rem; */
  margin-top: 2rem;
  display: flex;
  align-items: center;
}
.studentsImg {
  position: relative;
  z-index: 0;
}
/* .PlayButton {
  background-color: #ffffff;
  padding: 28px 14px 24px 24px;
  border-radius: 15rem; */
/* margin-top: 35%; */
/* max-width: 15%; */
/* margin-left: auto;
  margin-right: auto;
} */

.playButton {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  bottom: 20rem;
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  /* background-color: #fff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.section4 {
  /* background-color: #170f58; */
  background: linear-gradient(#170f58 75%, white 25%);
  /* margin-bottom: 20rem; */
}
.section4 h1,
.section4 p {
  color: white;
}
.stores {
  /* max-width: 100%; */
  /* height: 20rem; */
  display: flex;
}
.stores p {
  color: #170f58;
}

/* .swiper-slide,
.swiper-slide-next,
.swiper-slide-prev {
  transform: scale(0.6);
} */

.swiper-slide-active {
}
.section5 .swiper-slide-active {
  background-image: url("../../../assets/images/mob-outlay.svg");
  background-size: contain;
  /* height: 32rem !important; */
  /* background-position: center center; */
  background-repeat: no-repeat;
  transform: scale(1);
  overflow: hidden;
}
.section5 .swiper-slide-active img {
  margin-top: 0.7rem;
  /* margin-left: 0.2rem; */
  /* max-width: 100%; */
  height: 96%;
}
.section6 .swiper-slide {
  transform: scale(1);
}
@media (max-device-width: 1400px) {
  /* .section5 .swiper-slide-active {
    height: 32rem !important;
  } */
  .playButton {
    bottom: 18rem;
  }
}
@media (max-device-width: 1360px) {
  .playButton {
    bottom: 17rem;
    width: 17%;
  }
}
@media (max-device-width: 1280px) {
  .playButton {
    bottom: 14rem;
  }
}
@media (max-device-width: 1025px) {
  .playButton {
    bottom: 20rem;
    width: 15%;
  }
}
@media only screen and (max-device-width: 768px) {
  .section4 {
    background: none;
    background-color: #170f58;
    padding-bottom: 5rem;
  }
  .section1 h1,
  .section1 p {
    text-align: center;
  }
  /* .section1 button {
    margin-left: auto;
    margin-right: auto;
  } */
  .section1 img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .section3 .col-lg-6 h1,
  .section3 .col-lg-6 p {
    text-align: center;
  }
  /* .section3 .background-img {
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 9rem 20rem 12rem 6rem;
  } */
  .section3 ul {
    margin-left: auto;
    margin-right: auto;
  }
  .section3 button {
    margin-left: auto;
    margin-right: auto;
  }
  .playButton {
    bottom: 16rem;
    max-width: 12%;
  }
}
@media (max-device-width: 576px) {
  .playButton {
    bottom: 14rem;
    max-width: 12%;
  }
  .section1 .carousel-item .d-flex {
    flex-direction: column;
  }
}
@media (max-device-width: 480px) {
  .playButton {
    bottom: 12rem;
  }
}
@media (max-device-width: 320px) {
  .section1 .carousel-item .d-flex {
    flex-direction: column;
  }
  .playButton {
    bottom: 8rem;
  }
}
