.services {
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 3rem;
}
.img-contain {
  background-color: #170f58;
  padding: 22px 8px 22px 10px;
  border-radius: 5rem;
  max-width: 29%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}
