.img-section {
  background-color: #170f58;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 24px 15px 31px 4px;
}
.comment-container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.comment-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.date {
  background-color: #ff007a;
  max-width: 20%;
  border-radius: 10px;
}
.heart-bef::before {
  content: url("../../../assets//images/heart.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.share-bef::before {
  content: url("../../../assets//images/minishare.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.margin-container {
  /* margin-left: 2rem; */
  padding-bottom: 1rem;
}
.card {
  border-radius: 1rem;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card-body {
  padding: 0 2rem 1rem 2rem;
}
.day-and-month {
  /* position: relative; */
  /* position: relative; */
  z-index: 1;
  /* background-image: url(http://localhost:3001/static/media/rose-round.9f46001….svg); */
  background-color: #ff007a;
  border-radius: 100%;
  width: 20%;
  height: 13%;
  padding-top: 0.3rem;
  /* padding: 1rem 2rem 0rem 2rem; */
  /* background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  top: 16rem;
}

@media (min-device-width: 1200px) and (max-device-width: 1399px) {
  .day-and-month {
    /* padding: 0rem 1rem 0rem 1rem; */
    width: 20%;
    height: 11%;
    /* padding-top: 0.3rem; */
    top: 13rem;
  }
}
@media (min-device-width: 992px) and (max-device-width: 1199px) {
  .day-and-month {
    /* padding: 0rem 1rem 0rem 1rem; */
    width: 20%;
    height: 11%;
    /* padding-top: 0.3rem; */
    top: 11rem;
  }
}
@media (min-device-width: 768px) and (max-device-width: 991px) {
  .day-and-month {
    width: 13%;
    height: 11%;
    top: 29rem;
    padding-top: 0.8rem;
  }
}
@media (min-device-width: 548px) and (max-device-width: 767px) {
  .day-and-month {
    width: 13%;
    height: 10%;
    top: 21rem;
    /* padding-top: 0.3rem;  */
  }
}
@media (min-device-width: 510px) and (max-device-width: 547px) {
  .day-and-month {
    width: 13%;
    height: 10%;
    top: 20rem;
    /* padding-top: 0.3rem;  */
  }
}
@media (min-device-width: 460px) and (max-device-width: 509px) {
  .day-and-month {
    width: 13%;
    height: 10%;
    top: 18rem;
    /* padding-top: 0.3rem;  */
  }
}
@media (min-device-width: 400px) and (max-device-width: 459px) {
  .day-and-month {
    width: 16%;
    height: 12%;
    top: 15rem;
    padding-top: 0.3rem;
  }
}
@media (min-device-width: 370px) and (max-device-width: 399px) {
  .day-and-month {
    width: 14%;
    height: 10%;
    top: 14rem;
    padding-top: 0.2rem;
  }
}
@media (min-device-width: 340px) and (max-device-width: 369px) {
  .day-and-month {
    width: 14%;
    height: 10%;
    top: 13rem;
    padding-top: 0.2rem;
  }
}
@media (min-device-width: 325px) and (max-device-width: 339px) {
  .day-and-month {
    width: 14%;
    height: 9%;
    top: 12rem;
    padding-top: 0.2rem;
  }
  .day-and-month h5 {
    font-size: 12px;
  }
}
@media (max-device-width: 324px) {
  .day-and-month {
    width: 15%;
    height: 9%;
    top: 11rem;
    padding-top: 0.2rem;
  }
  .day-and-month h5 {
    font-size: 12px;
  }
}
