.img-section {
  background-color: #170f58;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 24px 15px 31px 4px;
}
.comment-container {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
}
.comment-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.date {
  background-color: #ff007a;
  max-width: 20%;
  border-radius: 10px;
}
.heart-bef::before {
  content: url("../../../assets//images/heart.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.share-bef::before {
  content: url("../../../assets//images/minishare.svg");
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}
.margin-container {
  /* margin-left: 2rem; */
  padding-bottom: 1rem;
}
.card {
  border-radius: 1rem;
  position: relative;
  transition: 0.3s all ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
.card-body {
  padding: 0 2rem 1rem 2rem;
}
.day-and-month {
  /* position: relative; */
  z-index: 1;
  background-image: url("../../../assets/images/rose-round.svg");
  background-size: cover;
  width: 19%;
  height: 5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 16rem;
}
