.testimonial-cont {
  background-image: url("../../../assets/images/testimonialBg.svg");
  max-width: max-content;
  text-align: center;
  padding: 0rem 3rem 7rem 2rem;
  /* background-color: rosybrown; */
  /* padding-bottom: 3rem; */
  /* padding: 1px 88px 75px 62px; */
  /* display: flex;
  flex-direction: column; */
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5rem;
  height: max-content;
  background-position: center center;
}
.testimonial-cont p {
  font-size: 15px;
  line-height: 26px;
}
.testimonial-img {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -3rem; */
  /* margin-bottom: 0.5rem; */
}

.testimonial-cont h4 {
  color: white;
  font-size: 23px;
  font-weight: 500;
}
.name-para {
  margin-top: 1rem;
}

@media (max-device-width: 1473px) {
  .testimonial-cont {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-device-width: 1440px) {
  .quotaion-down {
    bottom: 4rem;
    right: 29rem;
  }
  .quotation-up {
    left: 29rem;
    bottom: 21rem;
  }
}
@media (max-device-width: 1400px) {
  /* .testimonial-img {
    width: 14%;
  } */
  /* .testimonial-cont {
    padding: 0rem 2rem 6rem 1rem;
  } */
}
@media (min-device-width: 1401px) and (max-device-width: 1600px) {
  /* .testimonial-cont {
    padding: 0rem 2rem 6rem 2rem;
  } */
  .testimonial-cont h4 {
    font-size: 19px;
  }
  .testimonial-cont p {
    font-size: 11px;
  }
}
@media (max-device-width: 1280px) {
  /* .testimonial-cont {
    padding: 0rem 2rem 3rem 1rem;
  } */
}
@media (max-device-width: 1025px) {
  /* .testimonial-cont {
    padding: 0rem 3rem 6rem 1rem;
  } */
}

@media (max-device-width: 768px) {
  .testimonial-cont {
    padding: 0rem 2rem 5rem 1rem;
  }
  .name-para {
    margin-top: 1rem;
  }
  .testimonial-img {
    width: 13rem;
  }
  .testimonial-cont p {
    font-size: 10px;
    line-height: 19px;
  }
}
@media (max-device-width: 768px) {
  .testimonial-cont {
    max-width: 90%;
  }
  .testimonial-cont h4 {
    font-size: 16px;
  }
}
@media (max-device-width: 321px) {
  .testimonial-cont {
    max-width: 100%;
  }
  .section8 .btn-primary {
    font-size: 7px !important;
  }
}
