.testimonial-cont {
  background-image: url("../../../assets/images/testimonialBg.svg");
  max-width: max-content;
  text-align: center;
  padding: 0rem 3rem 7rem 2rem;
  /* background-color: rosybrown; */
  /* padding-bottom: 3rem; */
  /* padding: 1px 88px 75px 62px; */
  /* display: flex;
  flex-direction: column; */
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5rem;
  height: max-content;
  background-position: center center;
}
.testimonial-cont p {
  font-size: 15px;
  line-height: 26px;
}
.testimonial-img {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: -3rem; */
  /* margin-bottom: 0.5rem; */
}

.testimonial-cont h4 {
  color: white;
  font-size: 23px;
  font-weight: 500;
}
.name-para {
  margin-top: 1rem;
}

@media (min-device-width: 1474px) {
  .testimonial-img {
    max-width: 18%;
  }
  .testimonial-cont {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 3rem 5rem 2rem;
  }
  .testimonial-cont p {
    font-size: 12px;
    line-height: 22px;
  }
  .testimonial-cont h4 {
    font-size: 17px;
  }
  .name-para {
    margin-top: 0;
  }
  .name-para .mt-3 {
    margin-top: 0.5rem !important;
  }
}

@media (max-device-width: 1473px) {
  .testimonial-cont {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 7rem 7rem 5rem;
  }
}

@media (min-device-width: 941px) and (max-device-width: 1102px) {
  .testimonial-img {
    max-width: 18%;
  }
  .testimonial-cont {
    padding: 0rem 4rem 7rem 2rem;
  }
  .testimonial-cont h4 {
    font-size: 18px;
  }
  .name-para {
    margin-top: 1rem;
  }
  /* .testimonial-img {
    width: 15rem;
  } */
  .testimonial-cont p {
    font-size: 13px;
    line-height: 29px;
  }
}
@media (min-device-width: 768px) and (max-device-width: 940px) {
  .testimonial-img {
    max-width: 18%;
  }
  .testimonial-cont {
    padding: 0rem 2rem 5rem 1rem;
  }
  .testimonial-cont h4 {
    font-size: 16px;
  }
  .name-para {
    margin-top: 1rem;
  }
  /* .testimonial-img {
    width: 15rem;
  } */
  .testimonial-cont p {
    font-size: 10px;
    line-height: 19px;
  }
}
@media (min-device-width: 321px) and (max-device-width: 767px) {
  .testimonial-img {
    max-width: 18%;
  }
  .testimonial-cont {
    max-width: 90%;
    padding: 0rem 3rem 6rem 1rem;
  }
  .testimonial-cont h4 {
    font-size: 16px;
  }
  .name-para {
    margin-top: 1rem;
  }
  /* .testimonial-img {
    width: 15rem;
  } */
  .testimonial-cont p {
    font-size: 10px;
    line-height: 19px;
  }
}
