.abt-head {
  display: flex;
  align-items: center;
}
.about-us p {
  text-transform: capitalize;
  font-size: 18px;
  line-height: 36px;
}
.reason-section h3 {
  font-weight: 100;
  color: darkgrey;
}
.inner-sec {
  margin-bottom: 3rem;
  padding: 2rem 8rem 2rem 8rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.25), 0 1px 2px -1px rgb(0 0 0 / 0.25);
}
.reason-section h2 {
  font-weight: 400;
}
.reason-section p {
  font-weight: 100;
  line-height: 31px;
  font-size: 17px;
}
.team-section {
  margin-top: 5rem;
}
.team-image {
  max-width: 80%;
  height: 65%;
  border-radius: 30rem;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 5), 0 1px 2px -1px rgb(0 0 0 / 5);
  border: 3px solid whitesmoke;
}
/* YourComponent.css */

.team-image {
  position: relative;
  overflow: hidden;
}

.team-image img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.3s ease-in-out;
}

.team-image:hover img {
  /* filter: blur(8px); */
}
.team-image {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 2;
}

.team-image:hover .overlay-text {
  visibility: visible;
  opacity: 1;
}
body h2 {
  text-transform: capitalize;
}
.shadow-sec {
  margin-bottom: 3rem;
  padding: 2rem 6rem 2rem 6rem;
  border: 2px solid black;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.about-breadcrumb {
  background-image: url("../../assets/images/services-breadcrumb.jpg");
  background-position: center center;
  background-size: cover;
  max-width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.about-breadcrumb::before {
  content: "";
  position: absolute;
  /* top: 0;
      left: 0; */
  width: 100%;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
