.add-review .fa-star:before {
  position: relative;
  color: #ff0000;
  font-size: 7px;
  bottom: 0.5rem;
  font-style: italic;
}
.rating-section {
  padding-top: 1rem;
}
.star-icon:hover {
  color: orange;
}
.stars-container {
  display: flex;
  align-items: center;
}

.star-icon {
  margin-top: 1rem;
  margin-right: 5px;
}

.gap {
  width: 20px;
}
.your-review {
  margin-top: 3rem;
}
.important .fa-star:before {
  position: relative;
  color: #ff0000;
  font-size: 7px;
  bottom: 0.5rem;
  font-style: italic;
}
.form-label .fa-star:before {
  position: relative;
  color: #ff0000;
  font-size: 7px;
  bottom: 0.5rem;
  font-style: italic;
}
#text-area {
  max-width: 39%;
}
.name-email {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}
.form-control {
  min-width: 100%;
}
.form-check-input:checked {
  background-color: #170f58;
  border-color: #170f58;
}
@media (max-device-width: 517px) {
  .stars-container {
    display: block;
  }
}
