.footer-section {
  padding-top: 5rem;
  background-color: #030416;
  padding-bottom: 2rem;
}
.footer-section img {
  width: auto;
}

.footer-section .ralewayFont {
  margin-left: 1rem;
}
.footer-section li {
  color: #ffffff;
  margin-top: 2rem;
}
.footer-section h3 {
  color: white;
  /* margin-left: -1rem; */
}
.section-end {
  background-color: #000446;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-end p {
  color: #909090;
}
.cursor-pointer {
  cursor: pointer;
}
.footer-section img {
  cursor: pointer;
}
.footer-section li {
  cursor: pointer;
}
.footer-section h3 {
  font-size: 19px;
}
.unordered-list {
  margin-left: -1rem;
}
.logo-name-sec {
  cursor: pointer;
  margin-top: -1rem;
  transition: 0.3s;
}
.logo-name-sec:hover {
  transform: scale(1.06);
}
.mail-add {
  text-decoration: none;
  color: white;
}
.footer-section li {
  transition: 0.3s;
}
.social-logos {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}
.social-logos img {
  transition: 0.3s;
}
.mail-add {
  text-decoration: none;
  color: white;
}
@media (min-device-width: 992px) {
  .footer-section li:hover {
    transform: scale(1.1);
    color: darkgoldenrod;
  }
  .footer-section a:hover {
    /* transform: scale(1.1); */
    color: darkgoldenrod;
  }
  .social-logos img:hover {
    transform: scale(1.1);
  }
}
