.footer-section {
  padding-top: 5rem;
  background-color: #030416;
  padding-bottom: 5rem;
}

.footer-section .ralewayFont {
  margin-left: 1rem;
}
.footer-section li {
  color: #ffffff;
  margin-top: 2rem;
}
.footer-section h3 {
  color: white;
  /* margin-left: -1rem; */
}
.section-end {
  background-color: #000446;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section-end p {
  color: #909090;
}
.cursor-pointer {
  cursor: pointer;
}
.footer-section img {
  cursor: pointer;
}
.footer-section li {
  cursor: pointer;
}
.footer-section h3 {
  font-size: 20px;
}
.unordered-list {
  margin-left: -1rem;
}
.logo-name-sec {
  cursor: pointer;
  margin-top: -1rem;
}
