.course-container {
  /* border: 2px solid #170f58; */
  padding: 2rem;
  border-top-left-radius: 5rem;

  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.5), 0 1px 2px -1px rgb(0 0 0 / 0.5);
}
.course-container:hover {
  transform: scale(1.01);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
}
.course-image {
  max-width: 40%;
  overflow: hidden;
}
